@font-face {
    font-family: 'MyriadProCondensed';
    src: url('myriadpro-conhhd-webfont.eot');
    src: url('myriadpro-conhhd-webfont.eot?#iefix') format('embedded-opentype'),
         url('myriadpro-conhhd-webfont.woff') format('woff'),
         url('myriadpro-conhhd-webfont.ttf') format('truetype'),
         url('myriadpro-conhhd-webfont.svg#myriad_procondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadProCondensed';
    src: url('myriadpro-boldcond-webfont.eot');
    src: url('myriadpro-boldcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('myriadpro-boldcond-webfont.woff') format('woff'),
         url('myriadpro-boldcond-webfont.ttf') format('truetype'),
         url('myriadpro-boldcond-webfont.svg#myriad_probold_condensed') format('svg');
    font-weight: bold;
    font-style: normal;
}